body {
    background-color: black;
    color: white;
}

.arena {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

section {
    display: flex;
    justify-content: center;
}

.hero, .one-enemy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.one-enemy {
    margin: 10px;
    padding: 5px;
}

.enemies {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 125px;
}

.enemy-img {
    width: 100px;
}

.card {
    width: 100px;
}

.card:hover:not(.disabled) {
    cursor: pointer;
    transform: scale(1.1);
}

.energy-container {
    display: flex;
    width: 100%;
    position: relative;
}

.hero-energy {
    position: absolute;
    top: 5;
    left: 5;
}

.hero-statuses, .enemy-statuses {
    display: flex;
}

.hero-statuses {
    justify-content: flex-end;
}

.hero-health, .enemy-health {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.hero-shield-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-shield-container .block-icon {
    width: 35px;
}

.block-container {
    position: relative;
}

.block-container .block-number {
    position: absolute;
    top: 10px;
    right: 13px;
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

button:hover {
    cursor: pointer;
}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;
}

.m-3 {
    margin: 15px;
}

.m-4 {
    margin: 20px;
}

.m-5 {
    margin: 30px;
}

.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 10px;
}

.p-3 {
    padding: 15px;
}

.p-4 {
    padding: 20px;
}

.p-5 {
    padding: 30px;
}

.highlight {
    border: 2px solid yellow;
}

.enemy-img.highlight:hover {
    cursor: pointer;
}

.disabled {
    opacity: 50%;
}